@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

a, button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*===================================================*/
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  color: #252b42;
  font-family: "Montserrat", sans-serif;
  background: #fafafa;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 769px) {
  .header__menu {
    margin: 0px 0px 0px 60px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 55px;
  }
  .header__container {
    min-height: 75px;
  }
}
@media (max-width: 376px) {
  .header__menu {
    margin: 0px 0px 0px 30px;
  }
  .header__container {
    min-height: 75px;
  }
}
@media (max-width: 321px) {
  .header__menu {
    margin: 0px 0px 0px 60px;
  }
  .header__container {
    min-height: 75px;
  }
}

.menu {
  padding: 5px 0px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__list :last-child {
  margin-left: 0px;
}
.menu__item {
  margin: 0px 21px 0px 0px;
}
.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: 171.4285714286%;
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
  .menu__item {
    margin: 0px 30px 0px 0px;
  }
}
@media (max-width: 376px) {
  .menu__link {
    font-size: 18px;
  }
  .menu__item {
    margin: 0px 20px 0px 0px;
  }
}
@media (max-width: 321px) {
  .menu__link {
    font-size: 20px;
  }
  .menu__item {
    margin: 0px 20px 0px 0px;
  }
}

.page {
  flex: 1 1 auto;
}

.page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0px 0px 0px;
}
.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}
.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  margin: 0px 0px 10px 0px;
}
.header-block__subtitle {
  color: #737373;
}
@media (max-width: 992px) {
  .header-block__title {
    font-size: 33px;
  }
}
@media (max-width: 767px) {
  .header-block__title {
    font-size: 30px;
  }
}

.main-block {
  position: relative;
}
.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 395px;
}
@media (max-width: 992px) {
  .main-block__body {
    padding: 130px 0px 191px 0px;
  }
}
.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}
.main-block__title {
  font-size: 58px;
  line-height: 137.9310344828%;
  font-weight: 800;
  letter-spacing: 0.2px;
}
@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}
.main-block__text {
  color: #737373;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0px;
}
.main-block__button {
  font-weight: 700;
  line-height: 150%;
  min-height: 48px;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 36px 5px 36px;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 5px 7px;
  transition: all 0.15s ease 0s;
}
@media (max-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}
.main-block__button-orange {
  background: #ff7b47;
  color: #fff;
}
.main-block__button-orange:hover {
  background: #fd6b31;
  box-shadow: #3e4351 1px 1px 3px;
}
.main-block__button-border {
  border: 1px solid #0d5c63;
  color: #0d5c63;
}
.main-block__button-border:hover {
  color: #fff;
  background: #0d5c63;
  box-shadow: #3e4351 1px 1px 3px;
}
@media (max-width: 1300px) {
  .main-block__image img {
    -o-object-position: right;
       object-position: right;
  }
}
@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.9;
  }
}

.services__body {
  margin: 0px 0px 0px 0px;
}
@media (min-width: 670px) {
  .services__body {
    display: flex;
    margin: 0px -15px 0px -15px;
    flex-wrap: wrap;
  }
}
.services__column {
  flex: 0 1 33.333%;
}
@media (min-width: 670px) {
  .services__column {
    padding: 0px 15px 0px 15px;
  }
}
@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }
  .services__column:last-child {
    flex: 1 1 100%;
  }
  .services__column:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
.services__item {
  height: 100%;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 35px;
}

.item-service > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-service_green {
  background-color: #0d5c63;
  color: #fff;
}
.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}
.item-service__text {
  color: inherit;
  line-height: 142%;
}

.page__advantages {
  padding: 80px 0;
}
@media (max-width: 992px) {
  .page__advantages {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .page__advantages {
    padding: 40px 0;
  }
}

.advantages__header {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 767px) {
  .advantages__header {
    margin: 0px 0px 25px 0px;
  }
}
.advantages__body {
  display: flex;
  margin: 0px -15px -30px;
  flex-wrap: wrap;
}
.advantages__column {
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}
@media (max-width: 1020px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}
.advantages__item {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  font-weight: 700;
}
.advantages__item > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.advantages__icon {
  display: flex;
  height: 48px;
  align-items: flex-end;
  justify-content: center;
}
.advantages__value {
  font-size: 40px;
  line-height: 142%;
}
.advantages__text {
  color: #737373;
  font-size: 16px;
  line-height: 150%;
}

.practice {
  padding: 125px 0px 80px 0px;
}
.practice__header {
  margin: 0px 0px 45px 0px;
}
@media (max-width: 767px) {
  .practice__header {
    margin: 0px 0px 30px 0px;
  }
}
.practice__body {
  margin: 0px -20px -30px;
  display: flex;
  flex-wrap: wrap;
}
.practice__column {
  padding: 0px 20px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}
@media (max-width: 1040px) {
  .practice__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 640px) {
  .practice__column {
    flex: 0 1 100%;
  }
}
@media (max-width: 993px) {
  .practice {
    padding: 40px 0px 80px 0px;
  }
}
@media (max-width: 767px) {
  .practice {
    padding: 20px 0px 40px 0px;
  }
}
.item-practice {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}
.item-practice__link {
  color: inherit;
  display: inline-block;
}
.item-practice__link:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.item-practice__link:hover {
  text-decoration: underline;
}
.item-practice__title {
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}
.item-practice__text {
  color: #737373;
  line-height: 142%;
}
.item-practice__text:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.item-practice__image {
  display: block;
  padding: 0px 0px 60% 0px;
  position: relative;
}

.page__whoweare {
  padding: 80px 0px 130px 0px;
}
@media (max-width: 950px) {
  .page__whoweare {
    padding: 50px 0px 50px 0px;
  }
}
@media (max-width: 767px) {
  .page__whoweare {
    padding: 5px 0px 50px 0px;
  }
}

.whoweare {
  background: #fff;
}
.whoweare__header {
  margin: 0px 0px 100px 0px;
}
@media (max-width: 950px) {
  .whoweare__header {
    margin: 0px 0px 30px 0px;
  }
}
.whoweare__body {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 950px) {
  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}
.whoweare__video {
  flex: 0 0 57%;
  padding: 0px 0px 42.25% 0px;
  position: relative;
}
.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 950px) {
  .whoweare__video {
    padding: 0px 0px 56.25% 0px;
  }
  .whoweare__video:not(:last-child) {
    margin: 50px 0px 0px 0px;
  }
}
.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0px 0px 121px;
}
@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0px 0px 0px 50px;
  }
}
@media (max-width: 992px) {
  .whoweare__content {
    padding: 0px 0px 0px 15px;
  }
}
.whoweare__title {
  font-weight: 800;
  letter-spacing: 0.2px;
  font-size: 40px;
  line-height: 142%;
}
.whoweare__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
@media (max-width: 950px) {
  .whoweare__title {
    font-size: 24px;
  }
}
.whoweare__text {
  color: #737373;
  line-height: 142%;
}
.whoweare__items {
  margin: 50px 0px 0px 0px;
}
.whoweare__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

@media (max-width: 426px) {
  .whoweare {
    margin-top: 30px;
  }
}
.item-whoweare {
  display: flex;
}
.item-whoweare__icon {
  flex: 0 0 32px;
}
.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}
.item-whoweare__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 150%;
}
.item-whoweare__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.item-whoweare__text {
  color: #737373;
  line-height: 142%;
  white-space: nowrap;
  width: 215px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clients {
  padding: 50px 0;
  margin: 0px 0px 10px 0px;
}
@media (max-width: 767px) {
  .clients {
    padding: 25px 0;
  }
}
.clients__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.clients__item {
  padding: 8px 15px;
  flex: 0 1 16.666%;
  text-align: center;
  min-width: 140px;
}
.clients__item img {
  max-width: 100%;
}

.page__subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
}
.page__subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  left: 0;
  background: #252b42;
}

.subscribe__body {
  position: relative;
  z-index: 2;
  margin: 0px 30px;
  display: flex;
  padding: 30px 50px;
  align-items: center;
  background-color: #17213c;
  border-radius: 2px;
  justify-content: space-between;
}
@media (max-width: 1025px) {
  .subscribe__body {
    margin: 0px 0px;
  }
}
@media (max-width: 755px) {
  .subscribe__body {
    flex-direction: column;
    padding: 15px 50px;
  }
}
@media (max-width: 374px) {
  .subscribe__body {
    margin: 0px -15px;
  }
}
.subscribe__title {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  max-width: 270px;
  flex: 0 1 50%;
}
@media (max-width: 755px) {
  .subscribe__title {
    margin: 0px 0px 30px 0px;
    text-align: center;
  }
}
@media (max-width: 424px) {
  .subscribe__title {
    font-size: 16px;
    margin: 0px 0px 12px 0px;
  }
}
.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}
.subscribe__input {
  padding: 0px 20px 0px 20px;
  min-height: 58px;
  flex: 1 1 auto;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0px 0px 5px;
  border-right: 0;
}
.subscribe__input:focus {
  color: #000;
}
@media (max-width: 424px) {
  .subscribe__input {
    min-height: 42px;
  }
}
.subscribe__button {
  min-height: 58px;
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 22px;
  color: #ffffff;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  transition: all 0.15s ease 0s;
}
@media (max-width: 424px) {
  .subscribe__button {
    min-height: 42px;
    font-size: 13px;
  }
}
.subscribe__button:hover {
  background: #fd6b31;
}

.getintouch {
  padding: 80px 0px 135px 0px;
}
.getintouch__header {
  margin: 0px 0px 80px 0px;
}
@media (min-width: 992px) {
  .getintouch__items {
    display: flex;
    align-items: center;
  }
}
.getintouch__item {
  flex: 0 1 33.333%;
}
.getintouch .item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
  background-color: #fff;
}
@media (max-width: 426px) {
  .getintouch .item-getintouch {
    padding: 30px 15px;
  }
}
.getintouch .item-getintouch > *:not(:last-child) {
  padding-bottom: 15px;
}
.getintouch .item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.getintouch .item-getintouch__email {
  color: inherit;
}
.getintouch .item-getintouch__email:hover {
  text-decoration: underline;
}
.getintouch .item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
}
.getintouch .item-getintouch__button {
  border: 1px solid #ff7b47;
  border-radius: 5px;
  color: #ff7b47;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 142%;
  text-align: center;
  padding: 5px 20px;
  transition: all 0.2s ease 0s;
}
.getintouch .item-getintouch__button:hover {
  background-color: #ff7b47;
  color: #fff;
}
.getintouch ._active {
  background: #252b42;
  color: #fff;
  padding: 80px 15px;
}
@media (max-width: 992px) {
  .getintouch ._active {
    padding: 50px 15px;
  }
}
@media (max-width: 426px) {
  .getintouch ._active {
    padding: 30px 15px;
  }
}
.getintouch ._active .item-getintouch__button {
  border: 1px solid #fff;
  color: #fff;
}
.getintouch ._active .item-getintouch__button:hover {
  border: 1px solid #ff7b47;
}
.getintouch ._active .item-getintouch__label {
  color: #fff;
}

.contact {
  background-color: #fff;
  align-items: center;
  padding: 40px 0px;
}
.contact__body {
  display: flex;
  justify-content: space-between;
  padding: 0px 38px 0px 0px;
  align-items: center;
}
@media (max-width: 767px) {
  .contact__body {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
  }
}
.contact__content {
  text-align: left;
  padding: 0px 0px 0px 5px;
}
@media (max-width: 767px) {
  .contact__content {
    text-align: center;
    margin: 0px 0px 30px 0px;
  }
}
.contact__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252b42;
}
.contact__text {
  color: #737373;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.contact__button {
  width: 160px;
  height: 58px;
  background: #ff7b47;
  border-radius: 5px;
  margin: 0px 0px 0px 35px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #fff;
  transition: all 0.2s ease 0s;
}
@media (max-width: 767px) {
  .contact__button {
    margin: 0px 0px 0px 0px;
  }
}
.contact__button:hover {
  background: #fd6b31;
  box-shadow: #3e4351 1px 1px 3px;
}

.navbar {
  background: #17213c;
}
.navbar__body {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
  color: #fff;
}
@media (max-width: 1000px) {
  .navbar__body {
    flex-wrap: wrap;
  }
}
@media (max-width: 426px) {
  .navbar__body {
    padding: 30px 0px;
  }
}
.navbar__column {
  flex: 0 1 16.666%;
  min-width: 155px;
}
.navbar__column:last-child {
  flex: 0 1 33.334%;
}
@media (max-width: 1000px) {
  .navbar__column:not(:last-child) {
    padding: 0px 0px 30px 0px;
  }
}
@media (max-width: 321px) {
  .navbar__column:not(:last-child) {
    min-width: 142px;
  }
}
.navbar__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 350px) {
  .navbar__title {
    font-size: 14px;
  }
}
.navbar__items {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.1px;
}
.navbar__items :not(:last-child) {
  margin: 0px 0px 10px 0px;
}
@media (max-width: 350px) {
  .navbar__items {
    font-size: 13px;
  }
}
.navbar__item {
  display: flex;
  cursor: pointer;
}
.navbar__item:hover {
  text-decoration: underline;
}
.navbar__text {
  margin: 0px 0px 0px 10px;
  color: #fff;
}
.navbar__container {
  padding: 0px 15px;
}