@import "_nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body{
   height: 100%;
   line-height: 1;
   font-size: 14px;
   font-weight: 500;
   color: #252B42;
   font-family: 'Montserrat', sans-serif;
}
// ____________________________________________________
.wrapper{
   min-height: 100%;
   overflow: hidden;
}
// ____________________________________________________
._container{
   max-width: 1046px;
   padding: 0px 15px;
   margin: 0 auto;
   box-sizing: content-box;
}
// ______Header______________________________________________
.header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 50;
		&__container {
         display: flex;
         min-height: 104px;
         align-items: center;
      }

		&__logo {
         font-size: 24px;
         font-weight: 700;
         color:inherit;
      }

		&__menu {
         margin: 0px 0px 0px 133px;
      }

      @media (max-width: 992px) {
         &__menu{
            margin: 0px 0px 0px 80px;
         }
      }
      @media (max-width: 767px) {
         &__menu{
            margin: 0px 0px 0px 40px;
         }
      }
      @media (max-width: 479px) {
         &__menu{
            margin: 0px 0px 0px 18px;
         }
      }
}

.menu {
   padding: 5px 0px;
		&__list {
         display: flex;
         flex-wrap: wrap;
         :last-child{
            margin-left: 0px;
         }
      }

		&__item {
         margin: 0px 21px 0px 0px;
         
      }

		&__link {
         color: #737373;
         font-weight: 600;
         line-height: calc(24 / 14 *100%);
      }

      @media (max-width: 479px) {
         &__link {
            font-size: 18px;
         }
      }
}
